* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sectionLogin{
    text-align: center;
}

.logoLogin {
width: 360px;
}

.backgroundLogIn {
    background: linear-gradient(180deg, #A2468E 0%, rgba(255, 255, 255, 0) 100%), #4B35D1;
}

.logoContainer p {
    font-size: 22px;
    /* font-weight: 300; */
    color: white;

}

.email, .password {
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    background-color: transparent; 
    height: 35px;       
}

.btn-ingresar {
    width: 150px;
    height: 47px;
    color: white;
    background: #FC5484;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-width: 0px;
    font-size: 22px;
    font-weight: 300px;
    font-family: 'Roboto';
}

.registerContainer{
    color: white;
    font-size: 16px;
}
.registerContainer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
::placeholder{
    color: #FFFFFF;
    text-indent: 10px;
    font-family: 'Roboto';
}
