* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.hide {
    display: none;
}

.header {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    background: linear-gradient(180deg, #A2468E 0%, rgba(255, 255, 255, 0) 100%), #4B35D1;
    width: 100%;
    min-width: 320px;
    align-items: center;

}