button.btn-recoverPass {
    width: 270px;
    height: 37px;
    color: white;
    background: #FC5484;
    box-shadow: 0px 4px 4px rgba(185, 131, 131, 0.25);
    border-radius: 10px;
    border-width: 0px;
    font-size: 16px;
    font-weight: 300px;
    font-family: 'Roboto';
    text-decoration: none;
    cursor: pointer;
}

.btn-backLogin:hover,
.btn-recoverPass {
    transform: scale(1.05);
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
}

.btn-backLogin {
    justify-content: center;
    cursor: pointer;
    outline: none;
    width: 300px;
    height: 37px;
    color: white;
    background: #FC5484;
    box-shadow: 0px 4px 4px rgba(185, 131, 131, 0.25);
    border-radius: 10px;
    border-width: 0px;
    font-size: 16px;
    font-family: 'Roboto';
    text-decoration: none;
    cursor: pointer;
}

.div-input {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 16px;
}

#recoverPass-form input {
    max-width: 100%;
    background-color: #ecdada;
    height: 55px;
    border-radius: 35px;
    display: inline-flex;
    grid-template-columns: 15% 85%;
    position: relative;
    font-size: 16px;
    width: 60%;
    text-align: center;
}

.container-recoverPassword {
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fa,
.far,
i.fas {
    font-family: 'Font Awesome 5 Free';
    color: #acacac;
    font-size: 16px;
}

.fa,
.fas {
    font-weight: 950;
}

.div-input input,
i.fas {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    color: #acacac;
    border-radius: 20px;
}

