            * {
                font-family: 'Roboto', sans-serif;
                margin: 0px;
            }
            /* LAYOUT */
            /* Header */
            /* .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0px;
            padding: 0px 50px;
        }
        
        .header__logo-area {
            width: 250px;
            height: 150px;
        }
        
        .header__logo-area__logo {
            object-fit: contain;
            width: 100%;
            height: 100%; */